@model IEnumerable<ex2.Models.order_Detail>

@{
    ViewBag.Title = "Order_Detail";
}

<h2>Order_Detail</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unitAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_detail }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_detail }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_detail })
        </td>
    </tr>
}

</table>
